/*FontAwesomeを使用しています。*/
.header-2 {
  box-sizing: border-box;
  width: 100%;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  height: 60px;
  padding: 0 0.8em;
  margin: 0 auto;
  font-size: 1.2em;
}

.logo img {
  width: 70px;
}

.icon {
  margin-left: 1em;
  color: #55acee;
}
